@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clay two-door solution</h1>
    <p class="lead">To use the system, you have to login, and go to door page. Account: admin@123.com, password: Zheng223! can open all the doors</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
